# MongoDB
MONGODB_URI=mongodb://localhost:27017/tarik-site

# NextAuth
NEXTAUTH_SECRET=change-me-to-random-string
NEXTAUTH_URL=http://localhost:3000

# Site (SEO katmanı için zorunlu)
# Production URL — absolute, trailing slash YOK
NEXT_PUBLIC_SITE_URL=http://localhost:3000
